html, body {

    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'cocomat pro', sans-serif;
    color: white;
    position: relative;
    overflow-x: hidden;
}


body {
    min-height: 100vh; 
    margin: 0;
    background-image:
        linear-gradient(to top, rgba(27, 0, 66, 1), rgba(255, 255, 255, 0) 90%),
        url('../img/fondogalaxia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.iniciodesesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}